<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="person.rootwhois.blog.dao.ArticleSortsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="person.rootwhois.blog.entity.ArticleSorts">
        <id column="id" property="id" />
        <result column="article_id" property="articleId" />
        <result column="sort_id" property="sortId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, article_id, sort_id, create_time, update_time
    </sql>

</mapper>
