<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="person.rootwhois.blog.dao.CommentDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="person.rootwhois.blog.entity.Comment">
        <id column="comment_id" property="commentId" />
        <result column="comment_sub_id" property="commentSubId" />
        <result column="comment_article_id" property="commentArticleId" />
        <result column="comment_content" property="commentContent" />
        <result column="comment_user_id" property="commentUserId" />
        <result column="comment_nickname" property="commentNickname" />
        <result column="comment_email" property="commentEmail" />
        <result column="comment_ip" property="commentIp" />
        <result column="comment_status" property="commentStatus" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id, comment_sub_id, comment_article_id, comment_content, comment_user_id, comment_nickname, comment_email, comment_ip, comment_status, deleted, create_time, update_time
    </sql>

</mapper>
